@media screen and (min-device-width: 320px) and (max-device-width: 430px){
  section:first-child, .svg-animation,.scene{
    height: 100vh;
    width: 100%;
  }

  .content {
    width: 100%;
  }
  #profile {
    height: 100vh;
  }
  .title{
    margin-top: -100%;
    transition:all 3s ease-out;
    opacity: 0;
    font-size: 10vw;
  }
  .title.fade-in {
    margin-top: -100%;
    opacity: 1;
  }
  .subtitle {
    font-size: 6vw;
  }
  .aboutMe {
    font-size: 5vw;
  }
  .description {
    font-size: 3.8vw;
  }
  #photo {
    width: 45%;
    border: 1px solid transparent;
    border-radius: 5%;
  }
  #photo.fade-in {
    margin-left: 25%;
    margin-top: 2%;
  }
  #skill {
    margin-top: 15%;
    font-size: 8vw;
    margin-bottom: 10%;
  }

  #skill h1 {
    margin-top: 0;
  }
  .skillsLogo i {
    font-size: 1vw;
  }
  #skillOne,#skillTwo,#skillThree {
  display: flex;
  justify-content: space-around;
}
  #skillOne {
    /*margin-top: 25%;*/
  }
  #skillOne,#skillTwo {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 15%;
  }

  #skillThree {
    margin-left: -10%;
  }

  .work {
    height: auto;
    margin-bottom: 45%;
  }
  .rowWork {
    margin-top: 10%;
  }
  .thumbnail {
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .caption {
    background-color: silver;
  }
  .caption h3 {
    font-size: 4vw;
  }
  .caption button {
    font-size: 3.5vw;
    background-color: #FFA254;
  }
  .contactLogos {
    margin-left: 5%;
  }
  .github,.mail,.linkedin {
    width: 5vw;
    height: 6em;
    margin-top: 15%;
    margin-left: 5%;
  }
  .infoContact {
    font-size: 3vw;
  }
    .imagen {
    width: 2em;
    height: 2em;
  }
  .mail {
    margin-left: -20%;
  }

}/*termina primer media query*/

@media screen and (min-device-width: 431px) and (max-device-width: 768px){
  section:first-child, .svg-animation,.scene{
    height: 100vh;
    width: 100%;
  }


  /*
  img {
    width: 100%;
  }
  */
  .menu--circle{
    margin-top: -106%;
    position: fixed;
  }
  .hamburger {
    position: fixed;
  }
  #profile {
    height: 100vh;
  }
  .title{
    margin-top: -100%;
    transition:all 3s ease-out;
    opacity: 0;
    font-size: 9vw;
  }
  .title.fade-in {
    margin-top: -70%;
    opacity: 1;
    text-align: center;
  }
  .subtitle {
    font-size: 6vw;
  }
  .aboutMe {
    font-size: 5vw;
  }
  .description {
    font-size: 2vw;
  }
  #laptop,#pincel,#camera,#headphone{
    width: 4em;
  }
  #photo {
    width: 35%;
    border: 1px solid transparent;
    border-radius: 5%;
  }
  #photo.fade-in {
    margin-left: 30%;
    margin-top: -3%;
  }
  #skill {
    margin-top: 5%;
    font-size: 8vw;
    margin-bottom: 5%;
  }
  #skillOne {
    /*margin-top: 25%;*/
  }
  #skillOne,#skillTwo {
    width: 100%;
    margin-left: 3%;
    margin-bottom: 9%;
  }
  .work {
    height: auto;
    margin-bottom: 45%;
  }
  .rowWork {
    margin-top: 15%;
  }
  .thumbnail {
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .caption {
    background-color: silver;
  }
  .caption h3 {
    font-size: 4vw;
  }
  .caption button {
    font-size: 3.5vw;
    background-color: #FFA254;
  }
  .contact {
    height: 85vh;
  }
  .row.contactLogos {
    margin-left: 0%;
    display: flex;
    justify-content: space-around;
  }
  .github,.mail,.linkedin {
    width: 4em;
    /*margin-left: 5%;*/
  }
  .infoContact {
    font-size: 1em;
  }
  .imagen {
    margin-left: 5%;
  }

}

